# デフォルトは自動判別
* text=auto

# --- Windows実行ファイル群は CRLF (Windows改行) を強制 ---

# バッチファイルが LF になると動作停止するため必須
*.bat text eol=crlf
*.cmd text eol=crlf

# Shift-JIS (CP932) として扱う設定
*.ps1 text working-tree-encoding=CP932 eol=crlf

# Sandbox設定ファイル
*.wsb text eol=crlf

# MarkdownファイルはLFに統一する
*.md text eol=lf
